<% if current_user.admin == true %> 
  <div class="page-header">
    <%= link_to new_event_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Event
    <% end %>
    <h1>Listing events</h1>
  </div>
<% end %>


<% @events.each do |event| %>     
  <div class="well" style="padding: 0px">
    <div class="row">
      <div class="span2">
        <%= image_tag("event_#{event.id}.jpg", class: 'img-square img-thumbnail') %>
      </div>

      <div class="span5" style="margin-left:15px; margin-top:10px">
        <strong><p style="font-size:18px;"><%= event.name %></p></strong>
        <strong><p><%= event.start %> to <%= event.end %></p></strong>
        <p><%= event.description %></p>

        <p>
         <a class="btn btn-success" href="/attend/<%= event.id %>">Attend</a>
         <a class="btn btn-default" href="/events">Details</a>
        </p>
      </div>
    </div>

  </div>
<% end %>