<div class="well">
  <strong>Directions</strong><br>

  Once you sign up for LACE, submit your check along with forms <a href="http://cl.ly/0h443I3M2A2Z/download/formd.pdf">D</a> and <a href="http://cl.ly/0M3n052r2J46/download/forme.pdf">E</a> to an officer (I suggest Mukil Loganathan) by Oct. 21, and you are good to go!
</div>

<% @events.each do |event| %>     
  <div class="well" style="padding: 0px">
    <div class="row">
      <div class="span2">
        <%= image_tag("event_#{event.id}.jpg", class: 'img-square img-thumbnail') %>
      </div>

      <div class="span5" style="margin-left:15px; margin-top:10px">
        <strong><p style="font-size:18px;"><%= event.name %></p></strong>
        <strong><p><%= event.start %> to <%= event.end %></p></strong>
        <p><%= event.description %></p>

        <p>
          <% if !event.users.include?(current_user) %>
            <%= link_to 'Register', "/attend/#{event.id}", confirm: '', class: 'btn btn-success' %>
            <a class="btn btn-primary" style="cursor: default;">Details</a>
          <% else %>
            <a class="btn btn-default" style="cursor: default;">You are signed up.</a>
          <% end %>

        </p>
      </div>
    </div>

  </div>
<% end %>